body {
  font-family: var(--primary-font);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
