:root {
  --background-color: #c5e5fd;
  --main-background: #5fa7eb;
  --theme-color: #3b8ffd;
  --footer-background: #2d6ab9;

  --text-primary: #c6fff1;
  --text-secondary: #2565db;

  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}
